.pokedex {
  position: absolute;
  top: 0;
  width: 400px;
}
.pokedex__info {
  margin: 0;
}
.pokedex__open {
  width: 40px;
  height: 40px;
}
.pokedex__open:hover {
  cursor: pointer;
}

/* By default pokedex body is hidden */
.pokedex__body {
  display: none;
  width: 400px;
  min-height: 400px;
  background-color: beige;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
}
.pokedex__body--open {
  display: block;
}
.pokedex__close {
  background-color: beige;
  color: #dd1e24;
  border: 3px solid #dd1e24;
  padding: 2px 10px;
  margin-top: 5px;
}
.pokedex__close:hover {
  cursor: pointer;
}
.pokemonList__item--small {
  width: 120px;
  height: 120px;
  font-size: 10px;
}
