.pokemonCard {
  border-bottom: 1px solid rgba(66, 68, 90, .5);
  padding: 5px 0;
}
.pokemonCard__pokemonImg {
  width: 50%;
}
.pokemonCard__name {
  width: 100px;
  font-weight: bold;
  margin: 0 auto;
}
.pokemonCard__type {
  width: 100px;
  margin: 0 auto;
  color: rgb(31, 0, 168);
}
.pokemonCard__ability {
  margin: 3px;
}
