.pokemonList {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 5px 0px rgba(66, 68, 90, 1);
  border-radius: 5px;
  min-height: 500px;
}
.pokemonList__noFoundInfo {
  font-size: 36px;
  font-weight: bold;
  padding-top: 30px;
}
.pokemonList__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.pokemonList__item {
  background-color: white;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 2px 0px rgba(66, 68, 90, 1);
  border-radius: 10px;
  width: 150px;
  height: 240px;
  margin: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 12px;
}
.pokemonList__pokemonImg {
  width: 50%;
}
.pokemonList__name {
  width: 100px;
  font-weight: bold;
  margin: 0;
}
.pokemonList__type {
  width: 100px;
  margin: 0;
  color: rgb(31, 0, 168);
}
.pokemonList__ability {
  margin: 3px;
}
.pokemonList__add {
  background-color: #456fee;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
}
.pokemonList__add:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .pokemonList {
    width: 90%;
    margin: 0 auto;
  }
  .pokemonList__item {
    width: 180px;
    height: 200px;
    margin: 20px;
  }
}
