.toastifyBody {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.toastifyBody--open {
  display: block;
  animation-name: show;
  animation-duration: 2000ms;
}

@keyframes show {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
